@model IEnumerable<Auge.MVC.Areas.Administrativo.Models.PessoaLojaResponsavelVM>

<table class="grid table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeResponsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailResponsavel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeResponsavel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailResponsavel)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            }
        }
    </tbody>

</table>